/*
*/

/* Global Styles
----------------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

span {
  color: #FF8600;
}

img {
  width: 300px;
}

.phoneimg {
  height: 1075px;
  width: 575px;
}

a {
  color:#FFE66D;
}
a:hover {
  text-decoration: none;
}

h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 100px;
  line-height: 1;
}

h2 {
  font-size: 45px;
}

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

h3 {
  margin-bottom: 0;
}

.item-details h3 + p {
  font-style: italic;
}

.item-details h3 ~ p {
  margin: 0;
}

.divider > section{
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}

.divider > section:last-of-type {
  border-bottom: none;
}

/* Profile
----------------------------------------------*/
header {
  background: #27187E;
  color: #758BFD;
}

h1 {
  font-family: 'Inconsolata', monospace;
}

.hero {
	background-image: radial-gradient(50% 176%, #253854 80%, #061922 100%);
	min-height: 30rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
}

.hero .content {
		position: relative;
		align-self: center;
		padding: 3rem 0;
}

.snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}

.temp {
  background-image: radial-gradient(50% 176%, #253854 80%, #061922 100%);
}

/* Projects
----------------------------------------------*/
.projects{
  background: #F7FFF6;
}

.projects a {
  color: #2F3061;
}

.projects .btn {
  color:#F7FFF7;
  background: #2F3061;
  text-decoration:none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}

.projects .btn:hover{
  background: rgba(47, 48, 97, 80%);
}

.project-item {
  overflow: hidden;
}

.project-item h3 {
  margin-top: 0px;
}

/* Work Experience
----------------------------------------------*/
.work{
  background: #A1C6D7;
}

/* Education and Certifications
----------------------------------------------*/
.edu-cert {
  background-image: url(../images/joanna-kosinska-unsplash.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}

.edu-cert p {
  width: 60%;
}

/* Sports Experience
----------------------------------------------*/
.sports{
  background: #F39237;
}

/* Contact Info
----------------------------------------------*/
footer {
  background: #343434;
  color:#F7FFF7;
}

.contact-list {
  list-style-type: none;
  padding: 0;
}

.contact-list a {
  padding: 15px;
  display: inline-block;
}

/* Responsive Rules
----------------------------------------------*/

@media screen and (min-width:750px){
  header, footer {
    text-align: center;
  }

  .project-item img {
    float: left;
    margin-right: 20px;
  }  

  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .contact-list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width:749px){
  h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 20px;
  }

  h2 {
    line-height: 1;
  }

  .contact-list a {
    padding: 5px;
  }
}
/* UNUSED */

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}